@charset "UTF-8";

@font-face {
  font-family: Kanit;
  font-display: swap;
  src: url("../fonts/Kanit-Regular.woff2") format("woff2"), url("../fonts/Kanit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #191d1d;
  --bg-secondary: #131616;
  --bg-accent: #4cc9f0;
  --bg-inverse: #131616f5;
  --bg-inverse-after: #131616;
  --text-primary: #fff;
  --text-secondary: #6d7d7d;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Kanit";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Kanit";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: var(--bg-primary);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  letter-spacing: 0.4375rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #6d7d7d;
  padding: 0.5rem 2rem 0.4375rem 1.9375rem;
  text-transform: uppercase;
  line-height: 1.1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background-color 300ms ease-in-out 0s;
  transition: background-color 300ms ease-in-out 0s;
}

.text-primary {
  font-family: "Nunito";
}

.icon-menu {
  display: none;
}

.menu {
  display: none;
}

.menu__body {
  position: fixed;
  padding: 7.5rem 1.25rem 0rem 1.25rem;
  font-size: 2.125rem;
  text-align: right;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bg-inverse);
  overflow: auto;
  -webkit-transition: right 700ms ease 0s;
  transition: right 700ms ease 0s;
}

.menu__body::after {
  content: "";
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 5.25rem;
  background-color: var(--bg-inverse-after);
  -webkit-transition: right 700ms ease 0s;
  transition: right 700ms ease 0s;
  z-index: 6;
}

.menu-open .menu__body::after {
  right: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.menu-open .menu__body {
  display: block;
  right: 0;
}

.no-webp .header{
  background: url("../img/header/background.jpg") center/cover no-repeat; }

.header {
  padding-top: 6.125rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__nav {
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  letter-spacing: 0.4375rem;
  text-transform: uppercase;
  z-index: 5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.header__item {
  position: relative;
}

.header__item::before {
  content: "";
  position: absolute;
  bottom: -0.4375rem;
  left: 0;
  width: 0rem;
  height: 0.1875rem;
  background-color: var(--text-primary);
  -webkit-transition: width 400ms ease 0s;
  transition: width 400ms ease 0s;
}

.header__button {
  z-index: 5;
}

.header__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  max-width: 54%;
  z-index: 2;
}

.header__title {
  line-height: 1.3;
}

.header__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header__text-wrap:not(:last-child) {
  margin-bottom: 2.625rem;
}

.header__play-button path {
  -webkit-transition: stroke 400ms ease 0s;
  transition: stroke 400ms ease 0s;
}

.header__btn-swipe-down {
  letter-spacing: 0.4375rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  position: absolute;
  bottom: 11%;
  right: 0.9375rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0rem;
  z-index: 5;
}

.nav-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.5rem;
  }

  .header__nav {
    -webkit-column-gap: 3.25rem;
       -moz-column-gap: 3.25rem;
            column-gap: 3.25rem;
  }

  .header__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }

  .nav-bar__container {
    -webkit-column-gap: 3.25rem;
       -moz-column-gap: 3.25rem;
            column-gap: 3.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.125rem;
  }

  .header__nav {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .header__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .nav-bar__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 51.49875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.25rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--text-primary);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu {
    display: block;
  }

  .header__list {
    display: none;
  }

  .header__button {
    font-size: 1.25rem;
    padding: 0.75rem 2rem 0.6875rem 1.9375rem;
  }
}

@media (max-width: 51.49875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .header__content-block {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    width: 100%;
  }

  .header {
    padding-top: 5.25rem;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 2.125rem , 1.9838235294rem  +  0.7058823529vw , 2.5rem )) {
    .title {
      font-size: clamp( 2.125rem , 1.9838235294rem  +  0.7058823529vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.9838235294rem  +  0.7058823529vw , 2.5rem )) {
    .title {
      font-size: calc(2.125rem + 0.375 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .header__nav {
      -webkit-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
              column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .header__nav {
      -webkit-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem )) or (column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem ))) {
    .header__list {
      -webkit-column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem );
         -moz-column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem );
              column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem )) or (column-gap: clamp( 0.625rem , -0.4338235294rem  +  5.2941176471vw , 3.4375rem ))) {
    .header__list {
      -webkit-column-gap: calc(0.625rem + 2.8125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.625rem + 2.8125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.625rem + 2.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .nav-bar__container {
      -webkit-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
         -moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
              column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem )) or (column-gap: clamp( 0.9375rem , 0.0669117647rem  +  4.3529411765vw , 3.25rem ))) {
    .nav-bar__container {
      -webkit-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.125);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(255, 255, 255, 0.158);
  }

  .header__item:hover::before {
    width: 100%;
  }

  .header__play-button:hover path {
    stroke: aqua;
  }
}

.webp .header{ background: url(../img/header/background.webp) center/cover no-repeat; }